.card-product {
  overflow: hidden;
  height: 140px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  border-radius: 50%;

}

.card-product img {
  height: 100%;
  width: 175px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 13px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
}

.tarjeta {
    transition: transform 0.2s ease;
    box-shadow: 0 4px 6px 0 rgba(22, 22, 26, 0.18);
    border-radius: 0;
    border: 0;
    margin-bottom: 1.5em;
    padding-left: 0px;
  }
  .tarjeta:hover {
    transform: scale(1.02);
  }

.titulo {
  color: #124B54;
  font-size: 24px;
  font-weight: bold;
  font-family: 'Frank Ruhl Libre', serif;
}

.contenido {
  display: block;
  max-width: 750px;
  margin: 0 auto;
}

.fondo {
    max-width: 800px;
    background-color: #f4f4f4;
    padding: 10px;
    box-shadow: 0 0px 13px 1px rgba(22, 22, 26 , 0.18);
    border-radius: 4px

}

.card-trip {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card-trip > img {
  height: 500px;
  width: 100%;
  object-fit: cover;
}

.card-trip h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-trip p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}


.card-trip .card-trip-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-trip-infos .card-trip-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}






























