.category-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.category-item {
  flex: 0 0 30%;
  padding-bottom: 7px;
}

.category-selector {
  position: absolute;
  transform: scale(0);
}

.category-selector + label {
  display: block;
  cursor: pointer;
  box-sizing: border-box;
  width: 100%;
  // font-size: 12px;
  text-align: center;
  justify-content: space-around;
  padding: 10px 10px 10px 10px;
  border: 1px solid #124b54;
  border-radius: 50px;
  background-color: white;
}

.category-selector:checked + label {
  color: #124B54 !important;
  border: 3px solid #124b54;
}

.upload-photo {
  border: 1px solid #d3d3d3;
  padding: 16px 24px;
  cursor: pointer;
  font-weight: 500;
  background: white;
  border-radius: 2px;
}

.label {
  font-family: 'Inter';
    color: #124b54;

}
